h1 {
    text-align: center;
}
.img-principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-catalogo {
    display: inline;
    margin: -.8 1em;
} 
.content-catalogo { 
    margin: 0 auto;
    display: block;
    width: 1500px;
} 
p{
    
    font-size: 1.5em; 
    text-align: center;
} 
.content-indiv {
    display: inline-block;
    margin-bottom: 5.5em;
    
}
.tit-imagen {
    font-weight: 900;
}
