
.contenedor{
    flex: auto  ;
    border: 2.5px solid black;
    display: grid;
    grid-template:"cod des" 
                  "val  val1"
                   "boton  boton" /
                    1fr 1fr;
    margin-top: 50px;
   width: 60%;
    margin-left: 5%;
    padding: 50px;
    color: rgb(228, 26, 26);
    font-family: 'Times New Roman', Times, serif;
   border-radius: 30px;
  
}
h1 {
    text-align: center;
    margin-left: -30%;
color: blue;
font-family: 'Times New Roman', Times, serif;
}

.codigo {
    
    padding: 10px;
    width: 50%; 
    border-radius: 10px;
    border: 1px solid black;
    
    
}
.carac {
    
    padding: 10px;
    margin-bottom: 40px;
    width: 50%; 
    border-radius: 10px;
    border: 1px solid black;
}
.valor {
    
    padding: 10px;
    margin-bottom: 40px;
    margin-left:10px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
}
.valor1 {
    
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
}
.cod{
    grid-area: cod;
}
.des{
grid-area: des;
}
.val{
    grid-area: val;
}
.val1{
    grid-area: val1;
}
.boton {
    grid-area: boton;
}
.code {
    margin-left: 10px;
}
.text1{
    margin-left: 10px;
    margin-right: 30px;
}
.valoruni{
    
    margin-right: 40px;
}
.table-style {
    display: block;
    margin: 30px auto;
    width: 70%;
    padding: 18px;
    border-collapse: collapse;
}
td, th {
    border: 3px solid rgb(20, 20, 20);
    padding: 20px;
    color: black;
    text-align: center;
}
.Boton{
    border-radius: 15px;
    border: 1px solid rgb(8, 8, 8);
    background-color: rgb(55, 110, 194);
    font-size: 25px;
    width: 80%;
    height: 40px;
    text-align: center;
    margin-left: 10%;
    color: rgb(13, 14, 13);
    cursor: pointer;
}
.Boton:hover {
    background-color: rgb(24, 112, 245);
    transform: translate(3px);
}