* {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    height: 100%;
    0;
    width: 300px;
    overflow: auto;
    font-size: 1.2em;
    
}
ul {
    list-style: none;
    position: absolute;
    top: 55px;
    left: 5px;
    width: 95%;
    
}
a {
    text-decoration: none;
    color: rgb(49, 46, 49);
    font-size: 0,5em;
    display: block;
    border-radius: 5px;
    padding: 8px 30px;
    font-style: italic;
} 
.menu {
    display: none;
    position: absolute;
    background-color: rgba(233, 224, 224, 0.993);
}
a:hover {
    background: gainsboro;
}
.main-content {
    margin: 40px 40px 40px 320px;
    text-align: justify;
    color: black;
}
p {
    font-size: 1.2em;
    line-height: 1.2em;
}
.fas, .fab {
    width: 30px;
    font-size: 1.1em;
}
i {
    padding-right: 30px;
}
.linea-item {
    border-radius: 0;
    border-top: 1px solid rgb(48, 48, 48, .6);
} 
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    src: <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> ; /*IE9 C0mpat Modes */
}
/* roboto-500-latin */
@font-face  {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    src: <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> ;
}
nav ul li:hover .menu {
    display: block;
}
nav ul li:hover{
    color: rgb(145, 194, 194);
}


