* {
    margin: 0;
    padding: 0;
}

.bt-menu {
    display: block;
    padding: 20px;
    font-size: 30px;
}
.encabezado {
    display: grid;
    background-color: yellow ;
    border-bottom: 1px solid rgba(175, 171, 171, 0.692);
    height: auto;

    grid-template:     "busqueda    icon"/
                        2fr         150px;
                    
}

.icon1 {
    grid-area: icon;
    padding: 17px;
    margin-right: 80%;
    color: black;
}

.textbusqueda{
    grid-area: busqueda; 
    color: black;
    background-color: black;
}
.menu {
    border-radius: 10px;
    border: none;
    margin: 15px 15%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    outline: none;
}
.contenMoto { 
    display: grid;
    height: auto;
    grid-template: "  descripcion precio" 30px 
                         "modelo" 30px /
                          1fr       1fr ;
                              
                          
}
.imagen { 
    display: grid;
    height: auto;
    grid-template: "  img" 50px 
                     "img" 50px 
                     "img"/
                     1fr  ;
                     box-shadow: rgba(32, 77, 83, 0.514) 0px 2px 8px 0px;  
                     width: 500px;   
                     margin-top: 50px;
                     margin-left:150px;
}
box-shadow: rgba(32, 77, 83, 0.514) 0px 2px 8px 0px;
margin-left:50px;
margin-top: 50px;
margin-top: 50px;

.imagen {
    grid-area: img;
    margin-top: 20px;
    flex: auto  ;
}
.descripcion { 
        grid-area: descripcion;
        display: inline-block;
        width: 350px;
        text-align: center;
        margin-left:-30px;
        margin-top: -200px;   
        font-size: 1.8em;
}
.precio {
    grid-area: precio;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
}