* {
    margin: 0;
    padding: 0;
}
.encabezado {
    width: 100%;
    padding: 8px;
    background-color: yellow;
    border: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    outline: none;
}
.tex {
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    outline: none;
    border-radius: 20px;
}
.icon-menu {
    margin-left: 20%;
    margin-top: 20%;
    
}

img {



}

.bt-menu {
    border-radius: 200px;
    border: none;
    margin: 15px 15%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    outline: none;
}
label {
    font-size: 27px;
    
}
.grillas {
    margin-bottom: 30px;
}