* {
    margin: 0;
    padding: 0;
}
.style-content {
    display: grid;
    grid-template: " styleimagen   styleModelo styleMarca   " 20px
                   "  styleimagen   empty stylePrecio     " 20px/
                   1fr         1fr           1fr  ;
                   margin-bottom: 50px;
                   border-radius: 10px;
                   padding: 30px;
                   font-size: 1.4em;
                }

 .styleimagen {
    grid-area: styleimagen;

text-align: left;
width: 500px;
border: 1px solid rgba(22, 22, 22, 0.808);

 }

 .styleModelo {
    grid-area: styleModelo;
    cursor: pointer;
    font-size: 16px;
    font-size: 1.5em;
    text-emphasis: center;
    margin-left:150px;
    margin-top: 180px;
   
 }

 .styleMarca {
    grid-area: styleMarca;
    cursor: pointer;
    font-size: 1.2em;
    font-size: 27px;
    text-align: left;
    margin-top: 180px;
    margin-left:-350px;
 }
 .stylePrecio {
    grid-area: stylePrecio;
    cursor: pointer;
    font-size: 1.2em;
    font-size: 27px;
    text-align: left;
    margin-left:-350px;
    margin-top: 180px;
 }

.encabezado {
    width: 100%;
    padding: 8px;
    background-color: yellow;
    border: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    outline: none;
   
}
.tex {
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    outline: none;
    border-radius: 20px;
    display: grid;
}
.icon-menu {
    margin-left: 20%;
    margin-top: 20%;
}


.bt-menu {
    border-radius: 200px;
    border: none;
    margin: 15px 15%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    outline: none;
}
label {
    font-size: 27px;
    
}
.grillas {
    margin-bottom: 30px;
}
