.viaje {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    font-size: 15px;
    outline: none;
    margin-left: 50px;
}
h2 {
    text-align: center;
    padding: 20px;
}
.contenedor {
    margin-left: 100px;

}
.boton {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 85%;
    border: 1px solid rgba(134, 16, 16, 0.671);
    border-radius: 12px;
    font-size: 18px;
    color: rgb(253, 255, 254);
    background-color: rgb(9, 7, 54);
    padding: 10px;
}
.boton:hover{
    background-color: rgb(68, 71, 71);
    transition: .5s;
    translate: 3px;
}

.encabezado {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template:     "avion    ayuda    telefono   menuu" /
                        1fr      200px    150px      150px;

    width: 100%;
    margin: 0 auto;
    background-color: rgb(14, 24, 115);
    padding: 3px;
}
.fas{
    color: white;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa {
font-size: 30px;
    
    
}
.aircraft-take-off {
    grid-area: avion;
    padding: 15px;
}
.help {
    grid-area: ayuda;
}
.phone {
    grid-area: telefono;
}
.menu {
    grid-area: menuu;
}

.style-contentVuelo {
    display: grid;
    grid-template: "style-origen style-directo style-destino  style-precio    " 25px
                   "empty    style-directo style-destin     style-precio" 25px/
                    1fr           1fr       1fr           1fr;
                    margin-bottom: 50px;
                    border: 1px solid rgba(110, 101, 101, 0.808);
                    border-radius: 10px;
                    padding: 30px;
                    font-size: 1.4em;
                    text-align: center;

}
.style-origen {
grid-area: style-origen;
cursor: pointer;
font-size: 25px;
font-size: 1.5em;

}
.style-destino{
grid-area: style-destino;
cursor: pointer;
font-size: 1.5em;

}
.style-precio {
grid-area: style-precio;
cursor: pointer;
border-left: 1px solid gray;
font-size: 1.5em;
text-align: right;



}
.style-horaInicio {
cursor: pointer;
color: rgb(34, 34, 34);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1.5em;
 grid-area: horaInicio;
 font-size: 1.5em;

}
.style-horaFinal {
cursor: pointer;
color: rgb(34, 34, 34);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 grid-area: horaFinal; 
 font-size: 1.5em;


}
.style-directo {
grid-area: style-directo;
font-size: 16px;
font-size: 1.5em;
text-align: center;
}
.style-contentVuelo:hover {
transition-duration: 200ms;
transform: translate(3px);
box-shadow: 4px 4px 4px rgb(179, 177, 177);

}